<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <script>
        "use strict";

        var tpl = `
    <div>
        <span class="title">
            {{title}}
        </span>
        <span class="text">
            {{text}}
        </span>
    </div>
`;

        var list = [
            {
                title: 'qwerty',
                text: 'iuh'
            },
            {
                title: 'ytrewq',
                text: 'booooooooom'
            },
            {
                title: 'asdfgh',
                text: 'stradajte'
            }
        ];

        function tplInHtml(list, tpl) {
            var rezult = ``;

            for (var i = 0; i < list.length; i++) {
                var begin = tpl;

                while (begin.indexOf(`{{`) != -1) {
                    rezult += begin.slice(0, begin.indexOf(`{{`));
                    rezult += list[i][ begin.slice(begin.indexOf(`{{`) + 2, begin.indexOf(`}}`)) ];
                    begin = begin.slice( begin.indexOf(`}}`) + 2, begin.length );

                    if (begin.indexOf(`{{`) == -1) {
                        rezult += begin;
                    }
                }
            }
            return rezult;
        }

        tplInHtml(list, tpl);

    </script>
</body>
</html>